
Reminder/Reminder.xcodeproj/xcuserdata/Banu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Reminder/Reminder.xcodeproj/xcuserdata/Banu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Reminder/Reminder.xcodeproj/xcuserdata/Banu.xcuserdatad/xcschemes/xcschememanagement.plist
